.jumbotron {
  height: 750px;
  background-image: url("img/children.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotext h1 {
  color: whitesmoke;
  font-family: "Work Sans", sans-serif;
}

.jumbotext p {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
}

.jumbotron .btn {
  color: white;
}

.producteurtitre {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  height: 100px;
}

.btnpos {
  margin: 40px 0 0 0;
}

#btn1 {
  margin-bottom: 40px;
}
